<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="689d9d">  <td>23/11/18 16:49:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Day11_Exercise01.refresh()[pri:0, instance:Day11_Exercise01@69997e9d]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>main@1387380406</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>23/11/18 16:49:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Day11_Exercise01.refresh()[pri:0, instance:Day11_Exercise01@69997e9d]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>main@1387380406</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>23/11/18 16:49:10</td>   <td>-8305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Day11_Exercise01.Search_TC01()[pri:0, instance:Day11_Exercise01@69997e9d]">Search_TC01</td> 
  <td>main@1387380406</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>23/11/18 16:49:19</td>   <td>363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Day11_Exercise01.Search_TC02()[pri:0, instance:Day11_Exercise01@69997e9d]">Search_TC02</td> 
  <td>main@1387380406</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>23/11/18 16:49:07</td>   <td>-11461</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Day11_Exercise01.initBrowser()[pri:0, instance:Day11_Exercise01@69997e9d]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1387380406</td>   <td></td> </tr>
</table>
